<Project>
    <PropertyGroup>
        <ContainerRegistry>crnet7containersaustraliaeast.azurecr.io</ContainerRegistry>
        <ContainerRepository>flcdrg/net7-containers</ContainerRepository>
        <WebPublishMethod>Container</WebPublishMethod>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    </PropertyGroup>
</Project>